[Unit]
Description=Create MJPEG camera loopback device
After=systemd-modules-load.service
RequiresMountsFor=@USER_CONFIG_FILE@

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=@SYSTEM_APP_DIR@
ExecStart=@SYSTEM_APP_DIR@/scripts/setup-loopback.sh --config @USER_CONFIG_FILE@

[Install]
WantedBy=multi-user.target

